# Interactive Maps Exploring Relationships Between Fermented Vegetables and Covid-19 Mortality Rates

The original [paper](https://www.medrxiv.org/content/10.1101/2020.07.06.20147025v1) suggests that low COVID-19 death rates at the country level were linked to high fermented vegetable consumption in Europe. However, this conclusion was based on data from June 2020, an early stage of the three-year pandemic. I aim to explore whether this finding holds with the latest data using interactive maps. Additionally, I will visualize longitudinal trends in death rates or absolute death numbers.

## Load modules

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.io as pio
import kaleido # This package is required to save the map as a static image

## Load and preprocess epidemiological data

### Covid 19 mortality and population data

In [4]:
# Load Covid-19 death data
covid_death_df = pd.read_csv('time_series_covid19_deaths_global.csv')

In [5]:
covid_death_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,7896,7896,7896,7896,7896,7896,7896,7896,7896,7896
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,3598,3598,3598,3598,3598,3598,3598,3598,3598,3598
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,6881,6881,6881,6881,6881,6881,6881,6881,6881,6881
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,165,165,165,165,165,165,165,165,165,165
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,1933,1933,1933,1933,1933,1933,1933,1933,1933,1933

The Covid-19 death data contains geographic information in the first four columns, followed by daily death counts. I will aggregate the data to get the total number of deaths and death rates per country.

### Aggregate yearly death counts for each country

In [ ]:
# Make wide table long 
covid_death_df_long = covid_death_df.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], var_name='Date', value_name='Deaths')

In [50]:
covid_death_df_long.shape

(330616, 6)

In [55]:
covid_death_df_long['Date'].head()

0    1/22/20
1    1/22/20
2    1/22/20
3    1/22/20
4    1/22/20
Name: Date, dtype: object

In [ ]:
# Add year column based on last two digits of Date column
covid_death_df_long['Date'] = pd.to_datetime(covid_death_df_long['Date'], format='%m/%d/%y', errors='coerce')

In [62]:
covid_death_df_long['Date'].head()

0   2020-01-22
1   2020-01-22
2   2020-01-22
3   2020-01-22
4   2020-01-22
Name: Date, dtype: datetime64[ns]

In [66]:
# Check missing values in Date column
covid_death_df_long['Date'].isnull().sum()

289

In [65]:
covid_death_df_long['Year'] = covid_death_df_long['Date'].dt.year

In [59]:
# Aggregate deaths by country and year
covid_death_df_agg = covid_death_df_long.groupby(['Country/Region', 'Year'])['Deaths'].sum().reset_index()

In [60]:
covid_death_df_agg.head()

  Country/Region    Year   Deaths
0    Afghanistan  2020.0   296447
1    Afghanistan  2021.0  1778958
2    Afghanistan  2022.0  2810220
3    Afghanistan  2023.0   535810
4        Albania  2020.0    88375

In [6]:
# Aggregate daily death counts to get total death count
covid_death_df['Total Deaths'] = covid_death_df.iloc[:, 4:].sum(axis=1)

In [7]:
covid_death_df['Total Deaths'].describe()

count    2.890000e+02
mean     1.529348e+07
std      6.166454e+07
min      0.000000e+00
25%      2.474700e+04
50%      5.184140e+05
75%      5.035519e+06
max      7.138772e+08
Name: Total Deaths, dtype: float64

In [8]:
# Inspect Country/Region column
covid_death_df['Country/Region'].value_counts()

Country/Region
China             34
Canada            16
United Kingdom    15
France            12
Australia          8
                  ..
Guinea             1
Guinea-Bissau      1
Guyana             1
Haiti              1
Zimbabwe           1
Name: count, Length: 201, dtype: int64

In [9]:
# Inspect Province/State column
covid_death_df['Province/State'].value_counts()

Province/State
Australian Capital Territory    1
Saint Pierre and Miquelon       1
Reunion                         1
New Caledonia                   1
Mayotte                         1
                               ..
Gansu                           1
Fujian                          1
Chongqing                       1
Beijing                         1
Turks and Caicos Islands        1
Name: count, Length: 91, dtype: int64

There are multiple states or provinces within a country in the data. I will aggregate the data to the country level.

In [10]:
# Aggregate total deaths by country 
covid_death_country_df = covid_death_df.groupby('Country/Region')['Total Deaths'].sum().reset_index()

In [11]:
# Sort countries by total deaths in descending order 
covid_death_country_df = covid_death_country_df.sort_values(by='Total Deaths', ascending=False)

In [12]:
covid_death_country_df.head()

    Country/Region  Total Deaths
186             US     713877215
24          Brazil     488181000
80           India     364921237
117         Mexico     241085189
147         Russia     220983590

In [13]:
covid_death_country_df.tail()

           Country/Region  Total Deaths
5              Antarctica             0
185                Tuvalu             0
197  Winter Olympics 2022             0
170  Summer Olympics 2020             0
76               Holy See             0

In [48]:
covid_death_country_df.rename(columns={'Country/Region': 'Country'}, inplace=True)

The dataframe `covid_death_country_df` contains aggregated COVID-19 deaths at the country level from January 2020 to March 2023, used for the following visualization.

### Population data for EU countries

In [42]:
pop_df = pd.read_excel('demo_gind__custom_7680622_page_spreadsheet.xlsx', sheet_name='Sheet 1', skiprows=7)

/opt/anaconda3/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [43]:
pop_df.head()

,TIME,2020,Unnamed: 2,2021,Unnamed: 4,2022,Unnamed: 6,2023,Unnamed: 8
0,GEO (Labels),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,European Economic Area (EU28 - 2013-2020 and I...,519811603,e,:,NaN,:,NaN,:,NaN
2,European Union - 27 countries (from 2020),447015600,e,445872542,b,445837374,bep,448803078,ep
3,Euro area â€“ 20 countries (from 2023),346625682,NaN,346699769,NaN,346969818,p,349665601,p
4,Germany,83166711,NaN,83155031,NaN,83237124,NaN,84358845,NaN

In [47]:
# Clean up the population data
pop_df2 = pop_df[['TIME', '2020', '2021', '2022', '2023']]

# Drop the first row    
pop_df2 = pop_df2.drop(0)

# Rename the first column to 'Country'
pop_df2.rename(columns={'TIME': 'Country'}, inplace=True)

pop_df2.head()

,Country,2020,2021,2022,2023
1,European Economic Area (EU28 - 2013-2020 and I...,519811603,:,:,:
2,European Union - 27 countries (from 2020),447015600,445872542,445837374,448803078
3,Euro area â€“ 20 countries (from 2023),346625682,346699769,346969818,349665601
4,Germany,83166711,83155031,83237124,84358845
5,Germany including former GDR,83166711,83155031,83237124,84358845

### Estimate death rates in 2020, 2021, 2022 and 2023 for EU countries

In [67]:
covid_death_df_agg.head()

  Country/Region    Year   Deaths
0    Afghanistan  2020.0   296447
1    Afghanistan  2021.0  1778958
2    Afghanistan  2022.0  2810220
3    Afghanistan  2023.0   535810
4        Albania  2020.0    88375

In [80]:
# Rename the first column to 'Country'
covid_death_df_agg.rename(columns={'Country/Region': 'Country'}, inplace=True) 

covid_death_df_agg.head()

       Country  Year   Deaths
0  Afghanistan  2020   296447
1  Afghanistan  2021  1778958
2  Afghanistan  2022  2810220
3  Afghanistan  2023   535810
4      Albania  2020    88375

In [76]:
covid_death_df_agg['Year'] = covid_death_df_agg['Year'].astype(int)

In [77]:
# Make wide table long - pop_df2
pop_df2_long = pop_df2.melt(id_vars='Country', var_name='Year', value_name='Population')

In [78]:
pop_df2_long.head()

                                             Country  Year Population
0  European Economic Area (EU28 - 2013-2020 and I...  2020  519811603
1          European Union - 27 countries (from 2020)  2020  447015600
2               Euro area â€“ 20 countries (from 2023)  2020  346625682
3                                            Germany  2020   83166711
4                       Germany including former GDR  2020   83166711

In [81]:
pop_df2_long['Year'] = pop_df2_long['Year'].astype(int)

In [82]:
# Merge covid_death_df_agg to pop_df2_long on Country and Year columns
covid_death_pop_df = pop_df2_long.merge(covid_death_df_agg, on=['Country', 'Year'], how='left')

In [83]:
covid_death_pop_df.head()

,Country,Year,Population,Deaths
0,European Economic Area (EU28 - 2013-2020 and I...,2020,519811603,NaN
1,European Union - 27 countries (from 2020),2020,447015600,NaN
2,Euro area â€“ 20 countries (from 2023),2020,346625682,NaN
3,Germany,2020,83166711,2890473.0
4,Germany including former GDR,2020,83166711,NaN

In [86]:
# Create death rate column by dividing Deaths by Population
covid_death_pop_df['Deaths'] = pd.to_numeric(covid_death_pop_df['Deaths'], errors='coerce')
covid_death_pop_df['Population'] = pd.to_numeric(covid_death_pop_df['Population'], errors='coerce')

# Fill NaN values with 0 to avoid division errors
covid_death_pop_df['Deaths'].fillna(0, inplace=True)
covid_death_pop_df['Population'].fillna(0, inplace=True)

# Calculate death rate
covid_death_pop_df['Death Rate'] = covid_death_pop_df['Deaths'] / covid_death_pop_df['Population']

/var/folders/b8/9ymtxc2j7rb00xx34s753cwc0000gn/T/ipykernel_71654/2787820439.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  covid_death_pop_df['Deaths'].fillna(0, inplace=True)
/var/folders/b8/9ymtxc2j7rb00xx34s753cwc0000gn/T/ipykernel_71654/2787820439.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  covid_death_pop_df['Population'].fillna(0, inplace=True)

In [87]:
covid_death_pop_df.head()

,Country,Year,Population,Deaths,Death Rate
0,European Economic Area (EU28 - 2013-2020 and I...,2020,519811603.0,0.0,0.000000
1,European Union - 27 countries (from 2020),2020,447015600.0,0.0,0.000000
2,Euro area â€“ 20 countries (from 2023),2020,346625682.0,0.0,0.000000
3,Germany,2020,83166711.0,2890473.0,0.034755
4,Germany including former GDR,2020,83166711.0,0.0,0.000000

### Fermented vegetable consumption data

In [17]:
# Read in fermented vegetable consumption data in xlsx format
food_df = pd.read_excel('Foodex 2 L4 dashboard.xlsx', skiprows=2)

In [18]:
food_df.head()

,Survey's country,Survey start year,Survey name,Population Group (L2),Exposure hierarchy (L1),Exposure hierarchy (L2),Exposure hierarchy (L3),Exposure hierarchy (L4),Number of subjects,Number of consumers,Mean,Standard Deviation,5th percentile,10th percentile,Median,95th percentile,97.5th percentile,99th percentile,Comment
0,Austria,2010,Austrian Study on Nutritional Status 2010-12 -...,Adults,Vegetables and vegetable products,Processed or preserved vegetables and similar,Fermented or pickled vegetables,Fermented vegetables,308,11,2.383117,12.625241,0,0,0,0.0,65.500000,65.500000,NaN
1,Austria,2010,Austrian Study on Nutritional Status 2010-12 -...,Elderly,Vegetables and vegetable products,Processed or preserved vegetables and similar,Fermented or pickled vegetables,Fermented vegetables,67,4,4.044776,16.201789,0,0,0,65.5,65.500000,69.977500,"'Number of observations lower than 180, the 97..."
2,Austria,2010,Austrian Study on Nutritional Status 2010-12 -...,Very elderly,Vegetables and vegetable products,Processed or preserved vegetables and similar,Fermented or pickled vegetables,Fermented vegetables,25,3,7.860000,21.723892,0,0,0,65.5,65.500000,65.500000,"'Number of observations lower than 60, the 95t..."
3,Austria,2010,Austrian Study on Nutritional Status 2010-12 -...,Adolescents,Vegetables and vegetable products,Processed or preserved vegetables and similar,Fermented or pickled vegetables,Fermented vegetables,237,8,1.485232,8.153679,0,0,0,0.0,43.666667,43.666667,"'Number of observations lower than 298, the 99..."
4,Austria,2010,Austrian Study on Nutritional Status 2010-12 -...,Other children,Vegetables and vegetable products,Processed or preserved vegetables and similar,Fermented or pickled vegetables,Fermented vegetables,128,2,0.463542,3.722254,0,0,0,0.0,0.000000,28.640000,"'Number of observations lower than 180, the 97..."

In [21]:
# Investigate countries, years, and population columns
food_df.rename(columns={"Survey's country": 'Country'}, inplace=True) 
food_df['Country'].value_counts()

Country
Netherlands                    15
France                         10
Latvia                         10
Germany                        10
Poland                          9
Austria                         8
Romania                         8
Hungary                         8
Estonia                         8
Belgium                         7
Croatia                         7
Serbia                          7
Montenegro                      6
Sweden                          6
Finland                         5
Slovenia                        5
United Kingdom                  4
Czechia                         3
Bosnia and Herzegovina          3
Bulgaria                        2
Portugal                        2
Republic of North Macedonia     2
Greece                          1
Name: count, dtype: int64

In [22]:
# Survey start year 
food_df['Survey start year'].value_counts()

Survey start year
2019    23
2012    17
2017    16
2007    15
2010    10
2014    10
2013     8
2018     8
2003     8
2006     6
2008     5
2021     4
2004     4
2011     3
2000     2
2001     2
2016     2
2015     2
1997     1
Name: count, dtype: int64

In [25]:
# Population 
food_df['Population Group (L2)'].value_counts()

Population Group (L2)
Adults             32
Elderly            24
Adolescents        24
Other children     23
Toddlers           16
Very elderly       13
Pregnant women      7
Vegetarians         4
Infants             2
Lactating women     1
Name: count, dtype: int64

Aggregated daily consumption of fermented vegetables in general population and over time by country.

In [29]:
avg_consumption_country = food_df.groupby(by ='Country')['Mean'].mean().reset_index()

In [31]:
avg_consumption_country.describe() # Summary statistics

            Mean
count  23.000000
mean    3.432499
std     3.132373
min     0.012646
25%     0.795268
50%     2.660731
75%     5.742800
max    10.636471

Prepare for geographical data of EU countries.

In [36]:
# Fetch GeoJSON for Europe
import requests
import json

In [ ]:
# URL for countries' GeoJSON data
url = "https://raw.githubusercontent.com/datasets/geo-countries/master/data/countries.geojson"

# Fetch the data
response = requests.get(url)
geojson_data = response.json()

In [ ]:
# Filter only EU countries
# eu_countries = ['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Ireland', 'Italy', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Poland', 'Portugal', 'Romania', 'Slovakia', 'Slovenia', 'Spain', 'Sweden']

In [39]:
targeted_countries = food_df['Country'].unique().tolist()

In [40]:
# Filter the geojson for EU 
eu_geojson = {
    "type": "FeatureCollection",
    "features": [
        feature for feature in geojson_data["features"]
        if feature["properties"]["ADMIN"] in targeted_countries
    ]
}

## Reproduce the static map (baseline comparison)